.contact {
  height: auto;
  background: #4a4a4a94;
  /* background: #4a4a4a; */
}

.contact-header {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

#icons {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  row-gap: 1rem;
}

.social, .social-2 {
  margin-top: 2%;
  color: black;
}

.icons-2 {
  margin-top: 2%;
  width: auto;
  display: inline-block;
}

.social-2 > a {
  transition: all .2s ease-in-out;


}

.social-2 > a:hover {
  color: white;
  transform: scale(1.5);
}
