/* .main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  background-color: #4a4a4a;
}

a {
  text-decoration: none;
  color: white;
}

.push {
  margin-left: auto;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}
.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  background-color: #969696;
  /* background-color: #4a4a4a; */
}

.main-nav > li {
  padding: 20px;
}

.main-nav a {
  text-decoration: none;
  color: white !important;
  text-decoration: none;
}

.push {
  margin-left: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.center{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px #fff; 
}

.crescent-container {
  /* padding: 0 2%; */
  position: relative;
  transition: all .2s ease-in-out;
  margin: 0 2% 0 2%;
}

.crescent-container:hover {
  transform: scale(1.1);

}

.crescent {
  position: absolute;
  transform: rotate(120deg);
  bottom: 5px;
}

.s {
  left: 43px;
  position: absolute;
  color: white;
}