.portfolio {
  background-color: #c7c7c731;
  /* margin: 3em; */
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  /* margin: 3em; */
}

.port-image {
  width: 85%;
  height: auto;
  border-radius: 3%;
}

.portfolio a {
  color: black;
}
.portfolio a:hover {
  color: rgb(72, 125, 165);
}

.portfolio h3 {
  margin-bottom: 1em;
}

.portfolio h2 {
  padding: 3% 0 0 3%;
}